<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/charts/charts.css-0.9.0/dist/charts.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Colyser</title>
        <link href="../static/css/style.css" rel="stylesheet" />

    </head>

    <body>

        <header class="header">
            <div class="center">

                <div class="casescount">
                    <h4>
                        {{ totalcount }} REGISTERED CASES
                    </h4>
                </div>

                <div class="colyserlogo">
                    <img src="../static/images/colyser.png">
                </div>
                <h4 class="description">
                    COVID-19 CASES AND SYMPTOMS ANALYSER
                </h4>
                <div class="btn">
                    <a id="modalBtn" class="button buttonshadow">NEW CASE</a>
                </div>

                <div class="arrow"></div>
            </div><!--center-->
        </header><!--header-->

        <div id="formModal" class="modal">
            <div class="container">
                <form class="modal-content" method="post">
                    <spam class="close">&times;</spam>
                    <div class="row">
                        <div class="col-25">
                            <label for="name"><b>Name</b></label>
                        </div>    
                        <div class="col-75">
                            <input class="width90" type="text" placeholder="Enter your name" name="name" required>
                        </div>
                        <div class="col-25">
                            <label for="age"><b>Age</b></label>
                        </div>
                        <div class="col-75">
                            <input  class="width20" type="text" placeholder="Enter your age" name="age" required>
                        </div>
                        <div class="col-25">
                            <label for="gender"><b>Gender</b></label>
                        </div>
                        <div class="col-75">
                            <select name="gender" required>
                                <option value="S" selected>Select</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>    
                            <br>
                            <br>
                        </div>
                        
                        <h3>Did you experience the following symptoms?</h3>
                        

                        <div class="row">
                            <div class="col-25">
                                <label for="cough"><b>Cough</b></label>
                            </div>
                            <div class="col-75">
                                <select name="cough">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>    
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="fever"><b>Fever</b></label>
                            </div>
                            <div class="col-75">
                                <select name="fever">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="breath"><b>Difficulty Breathing</b></label>
                            </div>
                            <div class="col-75">
                                <select name="breath">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>  
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="fatigue"><b>Fatigue</b></label>
                            </div>
                            <div class="col-75">
                                <select name="fatigue">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="bodyache"><b>Muscle or Body ache</b></label>
                            </div>
                            <div class="col-75">
                                <select name="bodyache">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="headache"><b>Headache</b></label>
                            </div>
                            <div class="col-75">
                                <select name="headache">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="throat"><b>Swollen throat</b></label>
                            </div>
                            <div class="col-75">
                                <select name="throat">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <br>
                            <br>

                            <div class="col-25">
                                <label for="runnynose"><b>Runny nose</b></label>
                            </div>
                            <div class="col-75">
                                <select name="runnynose">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>  
                            </div>
                            <br>
                            <br>
                            
                            <div class="col-25">
                                <label for="nausea"><b>Nausea</b></label>
                            </div>
                            <div class="col-75">
                                <select name="nausea">
                                    <option value="select" selected>Select</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>  
                            </div>
                            <br>
                            <br>

                        </div>

                    </div>

                    <input class="submit-reset" type="submit" name="submit" value="Submit"><br>
                    <input class="submit-reset" type="reset" name="reset" value="Reset">
                   
                </form>    
            </div>
        </div>

        <section class="main">
            <div class="center_main">
                <div class="graph01">
                    <div class="graph01_data">
                        <table class="charts-css column show-labels" id="chart01">
                            <tr>
                                <th>Men</th>
                                <td style="--size: {{ mencount }}/10;">{{ mencount }}</td>
                            </tr>
                            <tr>
                                <th>Women</th>
                                <td style="--size: {{ womencount }}/10;"> {{ womencount }} </td>
                            </tr>            
                            <tr>
                                <th>Other</th>
                                <td style="--size: {{ othercount }}/10;"> {{ othercount }} </td>
                            </tr>         
                        </table>
                          
                    </div><!--graph01_data-->
                    <div class="textgraph01">
                        <p>
                            This chart refers to the number of men and women that have tested positive for COVID-19.
                            Remembering that the numbers shown in the graph were all taken from the the form above. 
                            All data is saved inside a database, reused and updated every time.
                        </p>
                    </div><!--textgraph01-->
                </div><!--graph01-->
                <div class="graph02">
                    <div class="textgraph02">
                        <p>
                            This chart refers to the symptoms that were registered out of all the cases.
                            Remembering that the numbers shown in the graph were all taken from the the form above. 
                            All data is saved inside a database, reused and updated every time.
                        </p>
                    </div><!--textgraph02-->
                    
                    <div class="graph02_data">
                        <table class="charts-css bar show-labels reverse" id="chart02">
                            <tr>
                                <th>Cough</th>
                                <td style="--size: {{ coughcount }}/10;">{{ coughcount }}</td>
                            </tr>
                            <tr>
                                <th>Fever</th>
                                <td style="--size: {{ fevercount }}/10;"> {{ fevercount }} </td>
                            </tr>            
                            <tr>
                                <th>Difficulty Breathing</th>
                                <td style="--size: {{ breathcount }}/10;"> {{ breathcount }} </td>
                            </tr>
                            <tr>
                                <th>Fatigue</th>
                                <td style="--size: {{ fatiguecount }}/10;"> {{ fatiguecount }} </td>
                            </tr>   
                            <tr>
                                <th>Body Ache</th>
                                <td style="--size: {{ bodyachecount }}/10;"> {{ bodyachecount }} </td>
                            </tr>   
                            <tr>
                                <th>Headache</th>
                                <td style="--size: {{ headachecount }}/10;"> {{ headachecount }} </td>
                            </tr>   
                            <tr>
                                <th>Swollen Throat</th>
                                <td style="--size: {{ throatcount }}/10;"> {{ throatcount }} </td>
                            </tr>   
                            <tr>
                                <th>Runny Nose</th>
                                <td style="--size: {{ runnynosecount }}/10;"> {{ runnynosecount }} </td>
                            </tr>   
                            <tr>
                                <th>Nausea</th>
                                <td style="--size: {{ nauseacount }}/10;"> {{ nauseacount }} </td>
                            </tr>        
                        </table>
                    </div><!--graph02_data-->
                </div>
            </div><!--center_main-->
        </section><!--main-->

        <section class="footer">
            <div class="center2">
                <div class="last_update">
                    <h4>
                        Last updated on April 11, 2022
                        <br>
                        Created by lpegs
                    </h4>
                </div>
                <div class="vertical_line">
                    <img src="../static/images/vertical_footer.png">
                </div>
                <div class="owl_icon">
                    <img src="../static/images/owl-drawing-art-arctic-fox-owl-fc1c4215db2069128975fa206560eb9c.png">
                </div>
                <div class="horizontal_line">
                    <img src="../static/images/horizontal_footer.png">
                </div>
                <div class="footer_bootom">
                    <div class="terms">
                        <a class="terms" href="#">Privacy Policy</a> 
                        <a class="terms" href="#">Cookie Policy</a> 
                        <a class="terms" href="#">Do Not Sell My Personal Information</a>
                        <a class="terms" href="#">Terms</a>
                    </div>
                    <div class="madewith">
                        <h4>
                            Made with &#128420; in Brazil &#9210; NCL System
                        </h4>
                    </div>
                </div>
            </div><!--center2-->
        </section><!--footer-->

        <script src="../static/js/main.js"></script>

    </body>

</html>